*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #555555;
    font-family: 'Lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
h1{
 
 color: #ffffff;
 font-size: 200%;
 font-weight: 300;
 word-spacing: 3px;
 letter-spacing: 1px;
 text-transform: uppercase;
 
 margin-bottom:20px ;
    
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.582),#000), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;

}

.btn-hunger:link,
.btn-hunger:visited{
    background-color:  orange;
    border: 1px solid  orange;
    color: white;

}
.btn-gost:link,
.btn-gost:visited{
    border: 1px solid  orange;
    color:  orange;}
.btn-hover,
.btn:active{background-color:  orange;

}
.btn-hunger:hover,
.btn-hunger:active{
    border: 1px solid white;
    color: white;
    background-color: orange;
}
.btn-gost:hover,
.btn-gost:active{
    border: 1px solid white;
    color: white;
    background-color: orange;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: white;
padding: 5px 0px;
text-decoration: none;
font-size: 90%;
border-bottom: 2px solid transparent;
transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid orange ;
}



section{
    padding: 60px 0px;
}
h2{
    text-transform: uppercase;
    font-size: 180%;
    text-align: center;
    word-spacing: 3px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;

}

h2::after{
    display: block;
    height: 2px;
    background-color: orange;
     content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}
.box{
    padding: 1px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.icon-big{
    font-size: 300%;
    display: block;
    color: orange;
    margin-bottom: 10px;
}
.ul{
    list-style-type: none;
width: 100%;
}
.ul li{
    display: block;
    float: left;
    width: 25%;

}
.pic{
    width: 100%;
margin: 0%;
overflow: hidden;
background-color: black;
}

.meals{
    padding: 0%;
}
.pic img{
width: 100%;
height: auto;
transform: scale(1.03);
transition: transform 0.5s, opacity 0.5s ;
opacity: 0.7;
}
.pic img:hover{
    transform: scale(1.15);
    opacity: 1;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3px;
    margin-top: 30px;
}

.steps-box:first-child{
    padding-right: 3px;
    margin-top: 70px;

}
.app-screen{
    width: 40%;
}
.work-step{
    margin-bottom: 50px;
}

.work-step div{

color: orange;
border: 2px solid orange;
border-radius: 50%;
height: 55px;
width: 55px;
text-align: center;
padding: 5px;
font-size: 150%;
margin-right: 25px;
float: left;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;

}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.box img{
    width: 100%;
    height: auto;
}
.city-feature{
    margin-bottom: 10px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    color:orange;
font-size: 120%;
margin-right: 10px;



}

a:link,
a:visited{
    color: orange;
text-decoration: none;
padding-bottom: 1px;
border-bottom: 1px solid orange;
transition: border-bottom 0.2s, 0.2s;



}
a:hover,
a:active{
    color: black;
    border-bottom: 1px solid transparent;
}
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.582),#000),url(../img/back-customers.jpg);
background-size: cover;
background-attachment: fixed;
color: white;
}
blockquote{
    padding: 2%;
font-style: italic;
line-height: 145%;
position: relative;
margin-top: 28px;
}
blockquote::before{
    content: "\201c";
font-size: 400%;
display: block;
position: absolute;
top: -3px;
left: -3px;
}

blockquote cite{
    font-size: 100%;
    display:block;
    margin-top: 250px;

}

cite img{
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
    vertical-align: middle;
}

.section-plans{
    background-color: white;
}
.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #b0baba;

}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #f3efef;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orange;

}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0 ;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}


.plan-box div:first-child{
background-color: #f3efef;
border-top-left-radius:5px ;
border-top-right-radius:5px ;
}
.contact-form{
    width: 60%;
    margin: 0 20% 0 20%;
}
input[type=text],


input[type=email],
    select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #e67e22;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0px;
}
*:focus{border:2px solid black;

}











footer{
    background-color: #333333;
padding:50px;

}
.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;

}
.footer-nav li:last-child{
margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,

.social-links li a:link,
.social-links li a:visited{

text-decoration: none;
border: 0;
color: #555555;
transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#f3efef ;

}
footer p {
    color:#f3efef ;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;

}

.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}
.ion-social-facebook:hover{
   color:  #3b5998;
}
.ion-social-twitter:hover{
    color: #00aced;


}
.ion-social-googleplus:hover{
    color: #dd4b39;

}
.ion-social-instagram:hover{
color: #517fa4;
}
.navbar{
    position: fixed;
    background-color:gray;
    width: 100%;
    margin-left: 224px;
    z-index: 100;
    padding: 0 20px 20px 20px;
    opacity: 0.8;
}










